<div class="container-fluid">
  <div class="container hero-container">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <h1 class="mb-5 faq-header">Frequently Asked Questions</h1>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What is our website design process?
              </mat-panel-title>              
            </mat-expansion-panel-header>
            <p class="text-justify">
              Our process can vary on the type of service you require. 
              However the overal process guidelines can be applied to every service.
            </p>
            <p class="text-justify">
              <strong>Kick-off Meeting:</strong> 
              After you have decided to work with The Ocean Agency, the first step in our process is to schedule a formal kick-off meeting at our office or yours. In this meeting, we will discuss your overall goals and objectives for the project and learn as much as we can about your business and audiences, striving to become an external part of your marketing department. From the knowledge gained in this meeting, our team will devise a forward moving strategy to meet your goals which will determine the layout and design of your website.
            </p>
            <p class="text-justify">
              <strong>Sitemap:</strong> 
              Our team determines the pages that should be included on your website and how each will be prioritized in the navigation to enhance user experience, informational flow, and conversion rates.
            </p>
            <p class="text-justify">
              <strong>Wireframes:</strong>
              In this step, our team sketches out mock-ups of each unique page of your website. This allows for our clients to have a clear visual representation of the website from a design and content standpoint before any actual coding has begun.
            </p>
            <p class="text-justify">
              <strong>Production:</strong>
              Now that the Sitemap and Wireframes have been completed, our development team can begin the process of building your website on our staging server. The website will not be live to anyone outside of your company, but our team will be able to provide a link which allows for you to interact with the website as it is being built.
            </p>
            <p class="text-justify">
              <strong>Testing:</strong>
              To guarantee the website functions 100% as promised, our team takes the fully developed website through a vigorous testing process. This assures all functionality, responsiveness, and design elements are fully operational prior to the scheduled launch.
            </p>
            <p class="text-justify">
              <strong>Training:</strong>
              We empower our clients to be able to update and retain full ownership of their newly launched websites. Our team will provide thorough WordPress training on the tools needed to update, maintain, and scale your website moving forward.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How long will the website or web application take to complete?
              </mat-panel-title>              
            </mat-expansion-panel-header>
            <p class="text-justify">
              The timelines for our projects vary greatly and are determined by different aspects of your website, 
              including size, functionality and more. However, most websites can be completed and launched in 6-10 weeks.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
              How involved will I be in the process?
            </mat-panel-title>              
            </mat-expansion-panel-header>
            <p class="text-justify">
              Our process is very collaborative, so our clients are involved throughout the process. 
              Although our team will be doing all of the heavy lifting, we do ask our clients to provide information, 
              feedback, and revisions to assure the final product that we deliver is on target with your vision.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
              What size of business do we work with?
            </mat-panel-title>              
            </mat-expansion-panel-header>
            <p class="text-justify">
                Our team has worked on projects of all different shapes and sizes, from startups to established companies to non-profits.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
              <mat-panel-title>
                Will I be able to maintain the website on my own after the launch?
              </mat-panel-title>              
              </mat-expansion-panel-header>
              <p class="text-justify">
                  We provide all materials after finishing up so you are in complete control of the project. 
                  Wether you want to proceed with inhouse counsel, our resources or other external resources.

                  We provide solutions with build in CMS systems so you can edit, update all your content easy and worry free. 
                  We will provide training for on the tools needed to update, maintain or scale our website moving forward.
              </p>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>