<section class="hero-container">
  <div class="container">
    <div class="row justify-content-center" style="position: relative;">
      <div class="col-12 col-md-10">
        <div class="hero-content text-center">
          <div class="title">
            <h1 class="head-title">We <i class="fas fa-heart"></i> all things tech!</h1>
          </div>          
        </div>        
      </div>  
      <div class="col-12 col-md-10 text-center tagline">
        <p>Check out our list of technologies we truly master. As with our core tech, we study new technologies, consume
          them fully and leverage them to build a customer centered solution for your challenges.
        </p>
      </div>    
    </div>
  </div>
</section>
<section class="tech-section">
  <div class="container">    
    <div class="row justify-content-center solutions">
      <div class="col-12 col-md-10">        
        <div class="tech-item">
          <div class="tech-item-body">
            <div class="tech-item-body-title">
              <h3>Languages and Frameworks</h3>
            </div>
            <div class="tech-item-body-info">
              <ul class="framework-list">
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image html5-image" src="../../assets/HTML5_Logo_256.png">
                  </div>
                  <div class="framework-list-item-title">html</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/css3.png">
                  </div>
                  <div class="framework-list-item-title">css</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/javascript.png">
                  </div>
                  <div class="framework-list-item-title">javascript</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/angular.png">
                  </div>
                  <div class="framework-list-item-title">Angular</div>                  
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/nodejs-new-pantone-black.png">
                  </div>
                  <div class="framework-list-item-title">NodeJs</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo typescript-logo">
                    <img class="image" src="../../assets/220px-TypeScript_Logo.svg.png">
                  </div>
                  <div class="framework-list-item-title">Typescript</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo express-logo">
                    <img class="image" src="../../assets/expressjs.png">
                  </div>
                  <div class="framework-list-item-title">Express</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10">
        <div class="tech-item">
          <div class="tech-item-body">
            <div class="tech-item-body-title">
              <h3>cloud platforms</h3>
            </div>
            <div class="tech-item-body-info">
              <ul class="framework-list">
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/lockup_cloud_main.png">  
                  </div>
                  <div class="framework-list-item-title">Google cloud</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image" src="../../assets/heroku-logotype-vertical-purple.png">
                  </div>
                  <div class="framework-list-item-title">Heroku</div>                  
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo">
                    <img class="image firebase-image" src="../../assets/logo-logomark.png">
                  </div>
                  <div class="framework-list-item-title">Firebase</div>
                </li>
                <li class="framework-list-item text-center">                  
                  <div class="framework-list-item-logo mongodb-logo">
                    <img class="image" src="../../assets/MongoDB_Gray_Logo_FullColor_RGB-01.jpg">
                  </div>
                  <div class="framework-list-item-title">MongoDb</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <p class="core-competence-info">
          Our list of core competences is not extensive. 
          We believe and focus on a specialised approach, on an approach that gives us the opportunity to truly master. (in spite of 'jack of all trades'-approach)
          Our focus and deliver is in the technologies and frameworks we believe have lots of advantages 
          for future operations and deployments.
        </p>
      </div>
    </div>    
  </div>    
</section>
<section class="contact-section">
    <contact></contact>
</section>


