<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="hero-content">
          <div class="title text-center">
            <h1 class="head-title">About Ahodos</h1>          
          </div>
          <!-- <p class="header-tagline">Software development engagement models that suits you best</p> -->
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="background">
          <img class="image" src="../../assets/happy_about.jpg">
          <div class="cover"></div>
        </div>        
      </div>      
    </div>
  </div>
</section>
<section class="story-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-8">
        <p class="story-body">
          I started my professional life as freelance software engineer and did exactly that.
          Freelancing gave me the opportunity to enjoy a lot of freedom and flexibility, 
          in a technical sense as well as the geographical. 
          allowing to dip my toe in multiple different technologies and business situations, 
          to learn a lot about the fast moving & continuous altering digital environment. 
        </p>
        <p class="story-body">
          With the passage of time I realized that more challenges can be solved by 
          grouping up talented professionals and provide a kick ass service fixing problems and providing solutions.
          A team of enthousiasts who commit our time to help our clients, old and new, with our professional expertise.
        </p>
        <h5>We should connect! </h5>
      </div>
    </div>
  </div>
</section>
<section class="believes-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Core believes</h2>            
        </div>
      </div>
    </div>      
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 believe-steps">
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Empathetic</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
            The greater good of our customers, partners and teammates are more important that any one of us. 
            We love getting to know our clients, their personalities and business goals. This allows for software that feels right.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Transparency</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
            At Ahodos we are firm believers that transparency builds trust and fantastic relationships. 
            Our open and collaborative approach ensures that clients are able to engage with full confidence, 
            knowing in real time what is happening with their project.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Partnerships</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
              We love relationships and long term partnerships. We pride ourselves of not only on the quality on our code 
              but also on the quality of our consultation. So we can deliver not only a fantastic product but also a great working experience and future partnership where equal trust and a thriving environment stand tall.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Simplicity</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
                We love to keep it simple. It is easy to build software that is complex. 
                This serves no one in the long term. Complex software is more expensive to build, more difficult to maintain, and ends up frustrating the client. Simplicity is not the easiest of tasks, but its worth the effort.
            </p>
          </div>
        </div>
        
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Continuous rapid delivery</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
              Ship early and ship often. This gives our clients the opportunity to follow up on recent development changes and provide necessary feedback.
              Putting working software in the hands of our clients gives us the opportunity to build what really matters and don't waste time on clutter. 
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end believe-step">
          <div class="col-12 col-lg-4 believe-step-header">
            <div class="believe-step-title">
              <h4>Always learning and growing</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 believe-step-body">
            <p>
              We all know that technologie doesn't stand still. We want to ensure our clients and take full advantage of future technologies.
              That's why we believe that continuous learning and growing is a lifestyle. A lifestyle we happily apply.                
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="believes-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-8">
        <h2 class="ahodos-green">Core believes</h2>

      </div>
    </div>
  </div>

</section> -->