<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="hero-content">
          <div class="title text-center">
            <h1 class="head-title">About Flock consulting</h1>          
          </div>
          <!-- <p class="header-tagline">Software development engagement models that suits you best</p> -->
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="background">
          <img class="image" src="../../assets/happy_about.jpg">
          <div class="cover"></div>
        </div>        
      </div>      
    </div>
  </div>
</section>
<section class="story-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-8">
        <p class="story-body">
          I started my professional life as freelance software engineer and did exactly that.
          Freelancing gave me the opportunity to enjoy a lot of freedom and flexibility, 
          in a technical sense as well as the geographical. 
          allowing to dip my toe in multiple different technologies and business situations, 
          to learn a lot about the fast moving & continuous altering digital environment. 
        </p>
        <p class="story-body">
          With the passage of time I realized that more challenges can be solved by 
          grouping up talented professionals and provide a kick ass service fixing problems and providing solutions.
          A team of enthousiasts who commit our time to help our clients, old and new, with our professional expertise.
        </p>
        <h5>We should connect! </h5>
      </div>
    </div>
  </div>
</section>