<section class="hero-container">
  <div class="container">
    <div class="row justify-content-center" style="position: relative;">
      <div class="col-12 col-md-10">
        <div class="hero-content text-center">
          <div class="title">
            <h1 class="head-title">We deliver data-driven cloud solutions for your digital innovation</h1>          
          </div>
          <div class="head-img">
            <img class="image" src="../../assets/465633-PFZWDJ-87.jpg">
            <div class="cover"></div>
          </div>          
        </div>        
      </div>  
      <div class="col-12 col-md-10 tag-line">
        <p>Great software is more than a slick graphics page. Our team of designers and developers deliver 
          solutions that are reliable, secure, user-friendly and incorporate a modern and professional design.</p>
      </div>    
    </div>
  </div>
</section>
<section class="solutions-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Our solutions</h2>        
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 text-center">
        <p>Full-service software development focused on web apps. </p>
      </div>
    </div>
    <div class="row solutions">
      <div class="col-3 text-center">        
        <div class="card solution-item">
          <div class="card-body">
            <div class="card-body-title">CMS</div>
            <div class="card-body-info">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card solution-item">
          <div class="card-body">
            <div class="card-body-title">ERP</div>
            <div class="card-body-info">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card solution-item">
          <div class="card-body">
            <div class="card-body-title">SAAS</div>
            <div class="card-body-info">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card solution-item">
          <div class="card-body">
            <div class="card-body-title">EAM</div>
            <div class="card-body-info">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>