<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">      
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="hero-content">
          <div class="title">
            <!-- <h1 class="head-title">We deliver data-driven cloud solutions for your digital innovation</h1>     -->
            <h1 class="head-title">We design and develop remarkable software applications for your digital innovation</h1>
          </div>
          <p class="header-tagline">
            Great software is more than a slick graphics page. Our team of designers and developers deliver 
            solutions that are reliable, secure, user-friendly and incorporate a modern and professional design.
            <!-- <span class="ahodos-green">Let us take your vision from early-stage concept to innovation</span>. -->
          </p>
          <div class="header-cta text-center" style="">
            <a routerLink="/contact-us" class="btn btn-primary" style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16); mix-blend-mode: lighten;">Talk to us</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="background">
          <img class="image" src="../../assets/webdesign.png">          
        </div>        
      </div>      
    </div>
    <div class='icon-scroll'></div>
  </div>
</section>
<!-- <section class="hero-container">
  <div class="container">
    <div class="row justify-content-center" style="position: relative;">
      <div class="col-12 col-md-10">
        <div class="hero-content text-center">
          <div class="title">
            <h1 class="head-title">We deliver data-driven cloud solutions for your digital innovation</h1>          
          </div>
          <div class="head-img">
            <img class="image" src="../../assets/465633-PFZWDJ-87.jpg">
            <div class="cover"></div>
          </div>          
        </div>        
      </div>  
      <div class="col-12 col-md-10 tag-line">
        <p>Great software is more than a slick graphics page. Our team of designers and developers deliver 
          solutions that are reliable, secure, user-friendly and incorporate a modern and professional design.
          <span class="highlight-green">Let us take your vision from early-stage concept to innovation</span>.</p>
      </div>    
    </div>
  </div>
</section> -->
<section class="methodology-section">
  <div class="container">
    <div class="row method-title">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Where we make the difference</h2>        
        </div>
      </div>
    </div>
    <div class="row method">
      <div class="col-12 col-md-4">        
        <div class="method-item">
          <div class="method-item-body">
            <div class="method-item-body-title">
              <h3 class="ahodos-green">We embrace change</h3>
            </div>
            <div class="method-item-body-info">
              <p>
                In bespoke application development, the only constant is change. That's why it is important that the development team is up to date with new 
                technologies and is always assessing new best practices. This gives us the advantage to see what's best for our clients needs. 
              </p>
              <!-- <p>
                The front-end landscape is evolving quickly, new tools are born every so often unlocking new functionalities.
                Our team of developers have a deep knowledge in modern web frameworks like <span>Angular</span>. So we can provide rich implementations for a great user experience. 
                On the server side we have a <span>NodeJs</span> approach which works seamlessly with previously mentioned client-side.
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="method-item">
          <div class="method-item-body">
            <div class="method-item-body-title">
              <h3 class="ahodos-green">Development operations</h3>
            </div>
            <div class="method-item-body-info">
              <p>
                We don't stop improving once the app is build. A new application must be scalibe and reliable. We work with our partners to deploy 
                software into the <span>AWS</span> or <span>Google cloud environment</span>. From there we monitor stability and do the necessary.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="method-item">
          <div class="method-item-body">
            <div class="method-item-body-title">
              <h3 class="ahodos-green">Cloud based</h3>
            </div>
            <div class="method-item-body-info">
              <p>
                Our choice for a non-relational database is based on years of experience. We feel the need for more flexible systems that 
                can handle highly diverse datatypes and handle applications more efficiently at scale. Especially if we look to future 
                technologies like, big data and artificial intelligence. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="methodology-section" style="background-color: #fff !important;">
  <div class="container">
    <div class="row method-title">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Our Simple Web Design Process</h2>           
          <p class="methodology-tagline">At Ahodos, we believe in a simple and organised approach. That's reflected in our web design process. 
            Our process makes sure that your website achieves his goals and launches in the most timely and cost-efficient way.</p>
        </div>
      </div>
    </div>
    <div class="row method">
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Discovery</h5>
            <p class="card-text">We start by listening. Tell us your vision, desires and the direction so we can develop your user story.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Strategy</h5>
            <p class="card-text">We will establish a general strategy and create a blueprint of your pages and content.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Execution</h5>
            <p class="card-text">Now it's time to design and develop you website. With our fast delivery cycle, step by step integrations can be monitored.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Launch</h5>
            <p class="card-text">After testing thouroughly we will release your new asset to the world.</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="responsive-section">
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-12 col-lg-5 responsive-header">
        <div class="responsive-header-title">
          <h2>Responsive to every platform</h2>
        </div>
        <div class="responsive-header-tagline">
          <p class="">
              A responsive design adjusts according to the screen size your visitor is using. 
              That means whether they are on a mobile phone, tablet, or desktop computer, 
              your site will maintain a look that is clean, simple and amazing.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="background">
          <img class="image responsive-image" src="../../assets/responsive.png">          
        </div>        
    </div>
    </div>
  </div>
</section>
<!-- <section class="efficiency-section">
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-12 col-md-8 efficiency-header">
        <div class="efficiency-header-title">
          <h2>Automate processes for better efficiency</h2>
        </div>
        <div class="efficiency-header-tagline">
          <p class="">
              Looking to cut operating costs, make better business decisions or use your assets more efficiently?
              We provide advanced web applications that will streamline your processes. Available from the cloud wherever you are.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="solutions-section">
  <div class="container">        
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Our solutions</h2>        
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 text-center">
        <p>Full-service software development focused on web apps. </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 solution-steps">
        <div class="row justify-content-md-end solution-step">
          <div class="col-12 col-lg-4 solution-step-header">
            <div class="solution-step-title">
              <h4>Consumer based</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 solution-step-body">
            <p>
              If consumers are your target audience, we will help you create an unique costumer experience, 
              so you can engage your clients with a custom portal or online service where they can experience 
              a specialized engangement. 
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end solution-step">
          <div class="col-12 col-lg-4 solution-step-header">
            <div class="solution-step-title">
              <h4>Business to business</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 solution-step-body">
            <p>
              When you serve to businesses you gain traction by differentiating yourself from the crowd.
              We build custom solutions so you can take advantage to display your company based culture.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end solution-step">
          <div class="col-12 col-lg-4 solution-step-header">
            <div class="solution-step-title">
              <h4>In-house solutions</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 solution-step-body">
            <p>
              With digital innovation you can transform the way your employees work. 
              Streamline workflows, automate processes and use detailed reporting to their advantage. 
              Let's innovate your enterprise to be more productive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<!-- <section class="solutions-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Our solutions</h2>        
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="ccol-12 col-md-5 text-center">
        <p>Full-service software development focused on web apps. </p>
      </div>
    </div>
    <div class="row justify-content-center solutions">
      <div class="col-12 col-md-8">        
        <div class="solution-item">
          <div class="solution-item-body">
            <div class="solution-item-body-title">
              <h3>Consumer based</h3>
            </div>
            <div class="solution-item-body-info">
              <p>
                If consumers are your target audience, we will help you create an unique costumer experience, 
                so you can engage your clients with a custom portal or online service where they can experience a specialized engangement. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="solution-item">
          <div class="solution-item-body">
            <div class="solution-item-body-title">
              <h3>Business to business</h3>
            </div>
            <div class="solution-item-body-info">
              <p>
                When you serve to businesses you gain traction by differentiating yourself from the crowd.
                We build custom solutions so you can take advantage to display your company based culture.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="solution-item">
          <div class="solution-item-body">
            <div class="solution-item-body-title">
              <h3>Inhouse enterprise solutions</h3>
            </div>
            <div class="solution-item-body-info">
              <p>
                With digital innovation you can transform the way your employees work. Streamline workflows, automate processes and use detailed reporting to their advantage. 
                Let's innovate your enterprise to be more productive.
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section> -->
<section class="contact-section">
    <contact></contact>
</section>