.hero-container{
    margin-top: 109px;
    margin-bottom: 120px;
}

.solutions-section, .methodology-section{
    padding: 120px 0px;
}

.hero-content{
    padding-top: 160px;    
}

.head-title{
    font-size: 58px;
    font-family: "TTCommons-Medium", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.tag-line{
    font-size: 24px;
    font-weight: 400;
}

.header-tagline{
    font-size: 24px;
    font-weight: 400;
}

.head-img{
    position: relative;
}

.image{
    width: 100%;
}

.cover{
    position: absolute;
    bottom: 0px;
    height: 155px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.title{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;
    font-weight: 300;
    color: #234;
}

.method-title{
    margin-bottom: 40px;
}

.method-item{

}

.method-item-body{

}

.method-item-body-title, .solution-item-body-title{
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 1.2em;
    position: relative;
}

.method-item-body-title h3, .solution-item-body-title h3{
    color: #7ee8d4;
}

.method-item-body-info, .solution-item-body-info{
    text-align: left;
    font-size: 16px;
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #333;
    letter-spacing: -.022em;
}

.methodology-section{
    background-color: #d7e7ff17; 
}

.solutions{
    padding: 60px 0px;
}

.solution-item{
    margin: 40px 0px;
}

.contact-section{
    background-color: #ecedee;
}

.title h2{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;        
    font-weight: 300;
    color: #234;
}