.hero-container{
    margin-top: 109px;
    margin-bottom: 120px;
}

.solutions-section, .methodology-section{
    padding: 120px 0px;
}

.hero-content{
    padding-top: 100px;    
}

.head-title{
    font-size: 40px;
    font-family: "TTCommons-Medium", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.header-tagline{
    padding-top: 40px;
    font-size: 24px;
    font-weight: 400;
}

.title h2{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;        
    font-weight: 300;
    color: #234;
}

.background{
    position: relative;
    padding-top: 50px;
}

.tag-line{
    font-size: 24px;
    font-weight: 400;
}

.header-tagline{
    font-size: 24px;
    font-weight: 400;
}

/* .head-img{
    position: relative;
} */

.image{
    width: 100%;
}

.cover{
    position: absolute;
    bottom: 0px;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.title{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;
    font-weight: 300;
    color: #234;
}

.method-title{
    margin-bottom: 40px;
}

.method-item{

}

.method-item-body{

}

.method-item-body-title, .solution-item-body-title{
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 1.2em;
    position: relative;
}

.method-item-body-title h3, .solution-item-body-title h3{
    color: #7ee8d4;
}

.method-item-body-info, .solution-item-body-info{
    text-align: left;
    font-size: 16px;
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #333;
    letter-spacing: -.022em;
}

.methodology-section{
    background-color: #d7e7ff17; 
}

/* .solutions{
    padding: 60px 0px;
}

.solution-item{
    margin: 40px 0px;
} */


.solutions-step{
    padding: 45px 0px;
}

.solution-step{
    padding: 30px 0px;
}

.solution-step-title h4{ 
    font-size: 35px;
    line-height: 1;
    font-weight: 300;    
}

.solution-step-title{
    position: relative;
}

.solution-step-title h4::after{
    bottom: -10px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 80px;
    background-color: #c7dbfb;
}

.solution-step-body p{
    text-align: left;
    font-size: 16px;
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #777;
    letter-spacing: -.022em;
}

.contact-section{
    background-color: #ecedee;
}

.title h2{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;        
    font-weight: 300;
    color: #234;
}