.container{
    padding-top: 90px;
    padding-bottom: 90px;    
}

.intro h2{
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 50px;
    font-weight: 300;
    color: #234;
}

@media only screen
    and (max-width: 812px)
    and (orientation: portrait){
        .container{
            padding-top: 0px;
            padding-bottom: 40px;
        }

        .intro h2{
            font-size: 35px;
        }
    }

.intro p{
    padding: 10px 0px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #234;
}

.contactform-header{
    color: #234;
    margin-bottom: 17px;
    line-height: 40px;
    margin-top: 0;
    font-size: 25px;
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
    font-weight: 300;
}

.contactform-field{
    width: 100%;
}

.contactform-field-textarea{
    height: 270px;
    resize: none;
}

.contactform-field-source{
    height: 105px;
    resize: none;
}

/* .submit-contact-form{
    width: auto !important;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: #7ee8d4;
    padding: 10px 20px 10px 20px !important;
    border-width: 0px !important;
    border-color: #000000;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
} */

.header-cta{
    margin-top: 30px; 
    background-color: transparent;
}

.header-cta button{
    width: auto !important;
    color: #ffffff;
    letter-spacing: 2px;
    /* background-color: #9ae3d2; */
    padding: 10px 20px 10px 20px !important;
    border-width: 0px !important;
    border-color: #000000;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    text-transform: capitalize;
}

.disabled{
    cursor: not-allowed;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex.mat-form-field-flex{
    border: 1px solid #e0E0E0;
    background-color: #fff;
    border-radius: 0px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    background-color: transparent;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple{
    height: 0px;
}

::ng-deep .mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple{
    height: 0px;
}