<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Engagement models</h1>          
          </div>
          <!-- <p class="header-tagline">Software development engagement models that suits you best</p> -->
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/engagement.png">          
        </div>        
      </div>      
    </div>
  </div>
</section>
<section class="engagement-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 service-steps">
        <div class="row justify-content-md-end engagement-step">
          <div class="col-12 col-lg-4 engagement-step-header">
            <div class="engagement-step-title">
              <h4>Fixed price</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 engagement-step-body">
            <p>
              We offer fixed price - ficed scope models for projects where scope and requirements are reasonably clear.
              This low-risk model defines timelines and requested deliverables as mutually agreed upon. Because our methodology is Agile base, 
              the fixed price will be determined by the story size analysed during the planning phase.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end engagement-step">
          <div class="col-12 col-lg-4 engagement-step-header">
            <div class="engagement-step-title">
              <h4>Milestone billing</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 engagement-step-body">
            <p>
                For the complex and long-lasting projects with clear phases we recommend a milestone approach.
                These milestones can be time-based or feature-based. As each milestone is accomplished, 
                the project owner is expensed a pre-defined sum or portion of the whole project. Advantages of this model is the reduced risk associated with large-scale opperations.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end engagement-step">
          <div class="col-12 col-lg-4 engagement-step-header">
            <div class="engagement-step-title">
              <h4>Dedicated team retainer</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 engagement-step-body">
            <p>
              We offer dedicated team services to extend your in-house development resources aswel as allocation of a dedicated team to the client’s project.
              Clients get the flexibility of choosing skill sets and resources available. While maintaining confidentiality and protecting the Intellectual Property Rights.
              Under this model, the resources are paid on a retainer basis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>