<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Clean and simple web design</h1>          
          </div>
          <p class="header-tagline">
            We design websites that clearly communicate your message and convert visitors into clients.
          </p>
          <div class="header-cta text-center" style="">
            <a routerLink="/contact-us" class="btn btn-primary" style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16); mix-blend-mode: lighten;">Talk to us</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="background">
          <img class="image" src="../../assets/webdesign.png">
        </div>        
      </div>            
    </div>
    <div class='icon-scroll'></div>
  </div>
</section>
<section class="methodology-section">
  <div class="container">
    <div class="row method-title">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Our Simple Web Design Process</h2>           
          <p class="methodology-tagline">At Ahodos, we believe in a simple and organised approach. That's reflected in our web design process. 
            Our process makes sure that your website achieves his goals and launches in the most timely and cost-efficient way.</p>
        </div>
      </div>
    </div>
    <div class="row method">
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Discovery</h5>
            <p class="card-text">We start by listening. Tell us your vision, desires and the direction so we can develop your user story.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Strategy</h5>
            <p class="card-text">We will establish a general strategy and create a blueprint of your pages and content.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Execution</h5>
            <p class="card-text">Now it's time to design and develop you website. With our fast delivery cycle, step by step integrations can be monitored.</p>            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/webdesign.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Launch</h5>
            <p class="card-text">After testing thouroughly we will release your new asset to the world.</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="responsive-section">
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-12 col-lg-5 responsive-header">
        <div class="responsive-header-title">
          <h2>Responsive to every platform</h2>
        </div>
        <div class="responsive-header-tagline">
          <p class="">
              A responsive design adjusts according to the screen size your visitor is using. 
              That means whether they are on a mobile phone, tablet, or desktop computer, 
              your site will maintain a look that is clean, simple and amazing.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="background">
          <img class="image responsive-image" src="../../assets/responsive.png">          
        </div>        
    </div>
    </div>
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>