<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Professional services</h1>          
          </div>
          <p class="header-tagline">Our addition services are ready in case your business is scaling 
            rapidly and need additional augmentation. </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/59867.jpg">          
        </div>        
      </div>
      <div class='icon-scroll'></div>
    </div>
  </div>
</section>
<section class="services-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 service-steps">
        <div class="row justify-content-md-end service-step">
          <div class="col-12 col-lg-4 service-step-header">
            <div class="service-step-title">
              <h4>Outsourcing talent</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 service-step-body">
            <p>
              You already have an in-house tech team dedicated to your software needs. 
              However you need additional talent fully dedicated to help finish the project on time?
              Hyperion offers extra resources to help tackle your needs. Led by a project manager on your side, 
              our experts will consistently and cost effectively fill the gap in your product needs.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end service-step">
          <div class="col-12 col-lg-4 service-step-header">
            <div class="service-step-title">
              <h4>DevOps consulting</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 service-step-body">
            <p>
              We are truly impressed with how far IT companies can reach and grow with a proper DevOps approach.
              Not happy with your current delivery pipeline and efficiency? Our DevOps wizards can help boost productivity.
              In our solution we analyse your current delivery pipeline and efficiently fill the gaps between development teams,
              QA and operations. An improved performance is the desired result of our efforts. Our emphasis shines on removing bottlenecks
              in software development and ensuring agile delivery.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>