<header class="header" [class.header--small]="blnNarrow">  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <div class="logo"> -->
        <a href="/">
          <img class="logo-link" [class.logo-link--small]="blnNarrow" src="../assets/Vecteezy-17-8500-10.jpg">
        </a>
        <!-- </div> -->
        <nav class="navigation navigation-hor" [class.navigation--small]="blnNarrow">
          <ul class="navigation-list">
            <li class="navigation-list-item">
              <a class="navigation-list-link">company</a>
              <ul class="navigation-dropdown" style="display: block;">
                  <li class="navigation-dropdown-item">
                    <a class="navigation-dropdown-item-link" routerLink="engagement">Engagement options</a>                    
                  </li>                  
                </ul>
            </li>
            <li class="navigation-list-item"> <!-- [class.navigation-list-item--dropdown--show]="blnHover" (mouseover)="blnHover=true" (mouseout)="blnHover=false"-->
              <a class="navigation-list-link">services</a>
              <ul class="navigation-dropdown" style="display: block;">
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="web-development">Custom web application solutions</a>                    
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="mvp-lab"><span style="text-transform: uppercase;">mvp</span> lab</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="professional-services">Professional services</a>                  
                </li>
              </ul>
            </li>
            <li class="navigation-list-item">
              <a class="navigation-list-link">process</a>
            </li>            
            <li class="navigation-list-item" routerLink="we-love-tech"> <!--(mouseover)="blnHover=true" (mouseout)="blnHover=false"-->
              <a class="navigation-list-link">we <i style="color: red;" class="far fa-heart"></i> tech</a> <!--[class.fas]="blnHover" -->
            </li>
            <li class="navigation-list-item" routerLink="we-want-you">
              <a class="navigation-list-link">jobs</a>
            </li>
            <li class="navigation-list-item" routerLink="contact-us">
              <a class="navigation-list-link">contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
