header{
    height: 109px;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    z-index: 9995;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
}

.header--small{
    height: 59px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4);
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    background-color: #fff;
}

.logo{
    float: left;
}

.logo-link{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    height: 70px;
    width: 70px;
    cursor: pointer;
    content: "";
    background-image: url("../assets/Vecteezy-17-8500-10.jpg");
    background-repeat: no-repeat;
    background-size: 198px 25px;
}

.logo-link--small{
    height: 40px;
    width: 40px;
}

.navigation{
    position: relative;
    float: right;
    margin-top: 16px;
    transition: all .4s ease-in-out;
}

.navigation--small{
    margin-top: 3px;
}

.navigation-list-item{
    display: inline-block;
    outline: none;
}

@media (max-width: 1030px){
    .navigation-list-item {
        display: none;
    }
}

.navigation-list-link:hover i{
    font-weight: 900;
}

.navigation-list-item:hover>.navigation-dropdown{
    max-height: 600px;
}

.navigation-list-item+.navigation-list-item{ 
    margin-left: 50px;
}

.navigation-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    /* position: absolute;
    display: block;
    width: 240px;
    max-height: 0;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 14px rgba(0,0,0,.1);
    box-shadow: 3px 3px 14px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; */

}


.navigation-list-item--dropdown--show{

}


.navigation-list-link{
    cursor: pointer;
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
    font-family: Avenir,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.navigation-list-link::after{
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
    font-family: Avenir,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

/* shows imidiate children */
.navigation-list-item--dropdown--show>.navigation-dropdown {
    max-height: 600px;
}

.navigation-dropdown{
    position: absolute;
    display: block;
    width: 250px;
    max-height: 0;
    top: 100%;
    /* left: 0; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 14px rgba(0,0,0,.1);
    box-shadow: 3px 3px 14px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navigation-dropdown-item-link{
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #e6e8ea;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    padding: 14px 20px;
}

.navigation-dropdown-item-link:hover{
    color: #c7dbfb;
}

a{
    cursor: pointer;
}


.get-in-touch{
    padding: 5px 15px;
    background: #7ee8d4;
    border-radius: 50px;
    /*color: #457DFF;*/
    font-size: 12px;
    /*font-family: "WeissenhofGrotesk-Medium",sans-serif;*/
    letter-spacing: 0.8px;
    box-shadow: 0 4px 4px 0 rgba(60,60,59,0.1);
    transition: all .3s;
    color: white;
}

.navigation-list-item .get-in-touch:hover{
    opacity: 0.7;
    border-bottom-color: #fff;    
}

.burger{
    width: 28px;
    height: 17px;
    right: 0;
    margin-top: -9px;
    display: none;    
}

@media (max-width: 1030px){
    .burger {
        display: block;
        margin-top: 16px;
    }
}

@media (max-width: 767px){
    .burger {
        margin-top: 16px;
    }
}

.burger-item{
    width: 100%;
    height: 3px;
    margin-top: -1.5px;
    background-color: #000;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.burger-item{
    position: absolute;
    display: block;
    top: 50%;
}

.burger-item-1{
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    /* transform: translateY(-7px); */
}

.burger-item-3{
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    /* transform: translateY(7px); */
}

.mm-wrap{
    position: fixed;    
    top: 59px;
    left: 0;
    height: 0;
    /* height: 100%; */
    width: 100%;
    padding: 0;    
    transition: all .4s ease-in-out;
}

.mm-wrap--show{    
    /*height: 100vh;*/    
}

.mm-content{
    height: inherit;
}

.mobile-navigation{
    height: 100vh;
    background: black;
    padding: 50px 0px;
}

.mobile-navigation-list{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    overflow-y: scroll;
}

.mobile-navigation-list-item{    
    list-style: none ;
    border-bottom: 0;
    padding: 10px 0;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transform: translate(0px, 0px);
}

.mobile-navigation-list-link{
    position: relative;
    display: inline-block;
    padding: 12px 0px;    
    font-weight: 500;
    font-size: 30px;    
    color: #FFF;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}

.mobile-navigation ul li>.mobile-navigation-dropdown{
    position: relative;
    display: block;
    height: 0px;
    list-style-type: none;
    margin: 0 -20px 20px;
    padding: 15px 20px;
    background-color: #f3f3f3;
}

.mobile.navigation-list-link:hover>.mobile-navigation-dropdown{
    background-color: yellow;
    height: 100%;
}

.mobile-navigation-list-link{
    color: red;
}

