<header class="header" [class.header--small]="blnNarrow">  
  
  
  <div class="container p-0 mobilenav" [class.mm-wrap--show]="blnMmShow">
    <div class="row">
      <div class="col-12 p-0">
        <ul class="mm">
          <!-- <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="webdesign">webdesign</a></li> -->          
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="web-development">application dev</a></li> 
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="cloud-platform">Cloud strategy consulting</a></li>
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="mvp-lab">MVP laboratory</a></li>
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="professional-services">Staff augmentation</a></li>
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="engagement">engagement options</a></li>
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="we-want-you">jobs</a></li>
          <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="about">about</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">      
      <div class="col-12">
        <!-- <div class="logo"> -->
        <a href="/" style="vertical-align: -webkit-baseline-middle;">
          <img class="logo-link" [class.logo-link--small]="blnNarrow" src="../assets/ahodos_fulllogo_843x160.png">
        </a>
        <!-- </div> -->
        <nav class="navigation navigation-hor" [class.navigation--small]="blnNarrow">
          <ul class="navigation-list">
            <li class="navigation-list-item"> <!-- [class.navigation-list-item--dropdown--show]="blnHover" (mouseover)="blnHover=true" (mouseout)="blnHover=false"-->
              <a class="navigation-list-link">services</a>
              <ul class="navigation-dropdown" style="display: block;">
                <!-- <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="webdesign">Webdesign</a>
                </li> -->
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="web-development">Custom web application solutions</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="cloud-platform">Cloud strategy consulting</a>
                  <!-- <li class="mm-item"><a class="mm-item-link" click="onMobileNav()" routerLink="cloud-platform">Cloud strategy consulting</a></li> -->
                </li>                                
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="mvp-lab"><span style="text-transform: uppercase;">mvp</span> laboratory</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-item-link" routerLink="professional-services">Staff augmentation</a>                  
                </li>
              </ul>
            </li>
            <li class="navigation-list-item">
              <a class="navigation-list-link">company</a>
              <ul class="navigation-dropdown" style="display: block;">
                  <li class="navigation-dropdown-item">
                    <a class="navigation-dropdown-item-link" routerLink="engagement">Engagement options</a>                    
                  </li>
                  <li class="navigation-dropdown-item">
                    <a class="navigation-dropdown-item-link" routerLink="we-want-you">jobs</a>
                  </li>
                  <li class="navigation-dropdown-item">
                    <a class="navigation-dropdown-item-link" routerLink="about">about</a>
                  </li>                  
                </ul>
            </li>            
            <!-- <li class="navigation-list-item">
              <a class="navigation-list-link">process</a>
            </li>             -->
            <li class="navigation-list-item" routerLink="insights"> <!--(mouseover)="blnHover=true" (mouseout)="blnHover=false"-->
              <a class="navigation-list-link">insights</a> <!--[class.fas]="blnHover" -->
            </li>
            <li class="navigation-list-item" routerLink="we-love-tech"> <!--(mouseover)="blnHover=true" (mouseout)="blnHover=false"-->
              <a class="navigation-list-link">we <i style="color: red;" class="far fa-heart"></i> tech</a> <!--[class.fas]="blnHover" -->
            </li>
            <!-- <li class="navigation-list-item" routerLink="we-want-you">
              <a class="navigation-list-link">jobs</a>
            </li> -->            
            <li class="navigation-list-item" routerLink="contact-us">              
              <a class="navigation-list-link get-in-touch">get in touch</a>              
            </li>
          </ul>
          <a class="burger" (click)="onMobileNav()">
            <span class="burger-item burger-item-1"></span>
            <span class="burger-item burger-item-2"></span>
            <span class="burger-item burger-item-3"></span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<router-outlet (activate)="onActivate($event)" ></router-outlet>
<footer class="container-fluid" style="background: #F7F7F9;">
  <div class="container">
    <div class="row py-4 justify-content-around">
      <div class="col-12 col-md-3" style="font-weight: 200;">
        <h2 class="footer-header">Contact info</h2>
        <div>Dam 13 </div>
        <div>8500 Kortrijk</div>
        <div>hello world</div>
        <div>+32 479 75 22 42</div>
        <div>lll</div>
        <div>sales@ahodos.be</div>
      </div>
      <div class="col-12 col-md-3">
        <h2 class="footer-header">Services</h2>
        <ul class="p-0" style="list-style: none;">
          <li>
            <a routerLink="/cloud-platform">Cloud strategy consulting</a>
          </li>
          <!-- <li>
            <a routerLink="/webdesign">web design</a>
          </li> -->
          <li>
            <a routerLink="/web-development">web application development</a>
          </li>
          <li>
            <a routerLink="/mvp-lab">mvp laboratory</a>
          </li>
          <li>
            <a routerLink="professional-services">Staff augmentation</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h2 class="footer-header">Company</h2>
        <ul class="p-0" style="list-style: none;">
          <li style="text-transform: uppercase;">
            <a routerLink="/faq">faq</a>
          </li>
          <li>
            <a routerLink="/privacy-policy">privacy policy</a>
          </li>
          <li>
            <a routerLink="/contact">contact us</a>
          </li>    
          <li>
            <a routerLink="/engagement">engagement</a>
          </li>
          <li>
            <a routerLink="/we-want-you">jobs</a>
          </li>
          <li>
            <a routerLink="/about">about</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h2 class="footer-header">Want to know more?</h2>
        <a routerLink="contact-us" class="btn btn-outline-info" style="color: darkcyan !important; border-color: darkcyan !important;">Get in touch</a>
        <!-- <ul>
          <li>angular</li>
          <li>express</li>
          <li>mongodb</li>
          <li>nodejs</li>
          <li>frontend</li>
          <li>heroku</li>
          <li>aws</li>
        </ul> -->
      </div>
    </div>
    <div class="row p-5 justify-content-center" style="border-top: 1px solid #e0e0e0;">
      <div class="col-12 text-center">
          © 2019 Ahodos • All Rights Reserved |
      </div>
    </div>
  </div>
  
</footer>
