<section class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Custom software development</h1>          
          </div>
          <p class="header-tagline">We design, develop and deliver data-driven cloud solutions for your digital innovation.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/445821-PF5LWD-853.svg">
          <div class="cover"></div>
        </div>        
      </div>
    </div>
  </div>
</section>
<section class="why-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Driven by a strong why</h2>
        </div>
        <p>
          The odyssey to innovation introduces a lot of potential risk. 
          Many businesses become overwhelmd by new technological transformations. Hyperion was born as an answer to those demands.
          <br>
          <br>
          With accelerated iterations and our fast feedback cycle we enable our clients to achive more with less. 
          <br>
          <br>
          We exist to create innovation and execute a vision. 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="engage-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>How we engange.</h2> <!--what we offer-->
          <p>Online presence is a must if you want to compete in the 21st century. It's the window inside your company.</p>
        </div>
      </div>      
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-title"><h5>cloud solutions</h5></div>
          <div class="card-body">            
            <p class="card-text">If you have a product you want to build on, an audit 
              lets us analyze what you have and where you can go. Based on your needs, 
              we'll perform a code audit, infrastructure audit, frontend audit, or some 
              combination of the three to assess your software and show you how to make it great.</p>            
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-title"><h5>MVP lab</h5></div>
          <div class="card-body">                        
            <p class="card-text">When you have an idea and want to get started, a Project Inception 
              lets us figure out the time, costs and risks for each product feature, so you can decide 
              what makes sense for your business. Our team will help you model ROI and create the best plan 
              to get you to launch.</p>          
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-title"><h5>professional services</h5></div>
          <div class="card-body card-body--large">            
            <p class="card-text">“I have a hunch this will work” is a start, but you want something 
              more than that before you spend money on new technology. Our Product Design Workshop adapts 
              the Google Ventures Design Sprint to prototype your ideas and test them on real users in just five days.</p>            
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catter-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Who we catter to.</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catter-container">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="title">
            <h2>How we work.</h2>            
          </div>
        </div>
      </div>
    </div>
  </section>
  <contact></contact>