.hero-container{
    margin-top: 109px;
}

.head-title{
    font-size: 58px;
    font-family: "TTCommons-Medium", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.header-tagline{
    font-size: 24px;
    font-weight: 400;
}

.title h2{
    margin: 1.5rem 0rem;
    font-size: 48px;
    line-height: 1;        
    font-weight: 300;
    color: #234;
}

.why-container, .engage-container{
    padding: 120px 0px;
}

.why-container{
    background-color: #f6f6f6;
}

.our-story{
    color: #7ee8d4;
}

.our-story-body{
    text-align: left;
    font-size: 16px;    
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #333;
}

.hero-content{
    padding-top: 160px;
    padding-bottom: 240px;
}

.background{ 
    position: relative;
}

.image{
    width: 100%;    
}

.cover{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.card_no_padding{
    padding: 0;
}

.card{
    border: none;
}

.card-img-top{
    width: 120px;
    margin: 50px auto;
}

.card-title{
    position: relative;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    margin: 0 0 .4em;
}

.card-title h5{
    margin: 0;
}

.card-body{
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
}

.card-body--large{
    padding-bottom: 60px;
}

.card-text{    
    text-align: left;
    font-size: 16px;    
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #333;
    letter-spacing: -.022em;
}

.card-text p:last-child{
    margin: 0;
}

.catter-container{
    background-color: #d7e7ff17;
    padding: 80px 0px;
}

.catter-detail-title{
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 .4em;
    position: relative;
}

.catter-detail-title h2{
    color: #7ee8d4;
}

.catter-detail-body{
    text-align: left;
    font-size: 16px;    
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.8;
    color: #333;
    letter-spacing: -.022em;
}

.recent-work-container {
    padding: 80px 0px;
    background: #52e2ab;
    background: -webkit-linear-gradient(-90deg, #52e2ab, #56d4da);
    background: -o-linear-gradient(-90deg, #52e2ab , #56d4da);
    background: -moz-linear-gradient(-90deg, #52e2ab, #56d4da);
    background: linear-gradient(-90deg,#52e2ab, #56d4da);
    overflow: hidden;
}

/* .product-container{
    padding-bottom: 15px;
    overflow-x: hidden;
} */

.product-logo{
    position: relative;
    padding: 25px 0px 40px 0px;
}

.product-logo::after{
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 65%;
    height: 1px;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-summary{
    
}

.product-summary p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;
}

.tech-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tech-list-item{
    display: inline-block;
    padding-right: 15px;
}

.tech-list-item:nth-last-child(){
    padding-right: 0px;
}

.tech-list-item i{
    color: #fff;
}

.portfolio{
    position: relative;
}

.portfolio-normal--img img{
    position: absolute;
    /* right: 10px; */
    left: 100px;
    bottom: -10px;
    width: 125%;
    height: auto;
}

.learn_more{
    padding-bottom: 80px;
    padding-left: 20px;
    background-color: transparent;
}

.learn_more a, .recent-work-learn_more a {
    width: auto !important;
    color: #ffffff;
    letter-spacing: 2px;
    /* background-color: #54b847; */
    background-color: #c7dbfb;
    padding: 10px 20px 10px 20px !important;
    border-width: 0px !important;
    border-color: #000000;
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    text-transform: capitalize;
}

.recent-work-learn_more{
    margin-top: 30px;
    background-color: transparent;
}

.recent-work-learn_more a { 
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16);
    mix-blend-mode: lighten;
}

.recent-work-learn_more a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.contact-section{
    background-color: #ecedee;
}

@media only screen and (max-width: 800px) {
    .icon-scroll{
        display: none;
    }
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{

  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #52e2ab;
  border-radius: 25px;
  bottom: 5%;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #52e2ab;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0% {opacity: 1}
  100% {opacity: 0; transform: translateY(46px)}
}