<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Custom software development</h1>          
          </div>
          <p class="header-tagline">We design, develop and deliver data-driven cloud solutions for your digital innovation.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/445821-PF5LWD-853.svg">
          <div class="cover"></div>
        </div>        
      </div>
      <div class='icon-scroll'></div>
    </div>
  </div>
</section>
<section class="why-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Driven by a strong why</h2>
        </div>   
        <div class="text-left">
          <div class="our-story">
            <h6>Our story</h6>
          </div>
          <div class="our-story-title">
            <h2>We build software that innovates</h2>
          </div>          
        </div>     
      </div>      
      <div class="our-story-body col-12 col-md-6">
        <p>
          We are developers, designers, managers, dreamers but all doers giving our heart and energy for your and our digital innovation.
        </p>
      </div>
      <div class="our-story-body col-12 col-md-6">
        <p>
          The odyssey to innovation introduces a lot of potential risk. 
          Many businesses become overwhelmd by new technological transformations. Hyperion was born as an answer to those demands.       
          With accelerated iterations and our fast feedback cycle we enable our clients to achive more with less. 
          We exist to create innovation and execute a vision. 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="engage-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>How we engange.</h2> <!--what we offer-->          
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 text-center">
        <p>Since digital innovation is our passion we strive for high quality in all the solutions we develop.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src="../../assets/custom.png" alt="Card image cap">
          <div class="card-title"><h5>cloud solutions</h5></div>
          <div class="card-body">            
            <p class="card-text">If you have a product you want to build on, an audit 
              lets us analyze what you have and where you can go. Based on your needs, 
              we'll perform a code audit, infrastructure audit, frontend audit, or some 
              combination of the three to assess your software and show you how to make it great.</p>            
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src="../../assets/creative.png" alt="Card image cap">
          <div class="card-title"><h5>MVP lab</h5></div>
          <div class="card-body">                        
            <p class="card-text">When you have an idea and want to get started, a Project Inception 
              lets us figure out the time, costs and risks for each product feature, so you can decide 
              what makes sense for your business. Our team will help you model ROI and create the best plan 
              to get you to launch.</p>          
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
      <div class="col-lg-4 card_no_padding">
        <div class="card">
          <img class="card-img-top" src="../../assets/group.png" alt="Card image cap">
          <div class="card-title"><h5>professional services</h5></div>
          <div class="card-body">            
            <p class="card-text">“I have a hunch this will work” is a start, but you want something 
              more than that before you spend money on new technology. Our Product Design Workshop adapts 
              the Google Ventures Design Sprint to prototype your ideas and test them on real users in just five days.</p>            
          </div>
          <div class="learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="catter-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>Who we catter to.</h2>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="catter-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h2>How we work.</h2>            
        </div>
      </div>
    </div>      
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row step">
          <div class="col-12 col-md-6">
            <div class="catter-detail-title">
              <h2>Our approach</h2>
            </div>
            <div class="catter-detail-body">              
              <p>
                Our emphesis in the start of a project is to listen to your vision.
                To hear and understand your companies desires and the overal direction of your digital innovation.
                With an in depth understading of the user story, we can provide you with a thoughtful project plan, 
                in depth requirement analyses and budget breakdown.
              </p>
            </div>
          </div>    
          <div class="col-6"></div>
        </div>
        <div class="row flex-row-reverse step">
          <div class="col-12 col-md-6">            
            <div class="catter-detail-title">
              <h2>Fast development cycles</h2>
            </div>
            <div class="catter-detail-body">              
              <p>we conduct an agile development approach which results in fast development cycles called sprints. 
                Every project will be transformed in a user map which is the basis of our projects backlog. 
                Our dedicated project manager are involved in the entire project lifecycle to plan, organize, control and deploy key milestones. 
                Which conducts a transparent communication with the project owner before and after the set milestones or development cycles.
                </p>
            </div>            
          </div>
          <div class="col-12 col-md-6"></div>
        </div>
        <div class="row step">
          <div class="col-12 col-md-6">            
            <div class="catter-detail-title">
              <h2>Continuous delivery</h2>
            </div>
            <div class="catter-detail-body">            
              <p>Because of our fast iteration and development cycles we can provide fast feedback on the project. 
                Hence there is constant alignment on requested features, product requirements and the scope of the product.
                This gives the product owner true ownership of the project.</p>
            </div>            
          </div>        
          <div class="col-12 col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recent-work-container">
  <div class="container product-container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="title">
          <h2>Our recent work</h2>            
        </div>
        <div class="row product-logo">
          <div class="col-12">
            <img src="../../assets/wandr.png" width="auto;" height="80px;">
          </div>          
        </div>
        <div class="row">
          <div class="col-12 product-summary">
            <p>Cloud-based Customer Intelligence solution connecting data and allowing delivery of tailor-made offers through desired channels. 
              Supports multiple channels, business and tech ecosystems, gathering operational, product and customer data.</p>
          </div>
        </div>
        <div class="row tech-stack">                    
          <div class="col-12 tech-details">
            <h6>Technologies we used</h6>
            <ul class="tech-list">
              <li class="tech-list-item"><i class="fab fa-angular fa-2x"></i></li>
              <li class="tech-list-item"><i class="fab fa-google-drive fa-2x"></i></li>
              <li class="tech-list-item"><i class="fab fa-html5 fa-2x"></i></li>
              <li class="tech-list-item"><i class="fab fa-css3-alt fa-2x"></i></li>
              <li class="tech-list-item"><i class="fab fa-node-js fa-2x"></i></li>
            </ul>
            <div class="recent-work-learn_more"><a href="#" class="btn btn-primary">learn more</a></div>
          </div>          
        </div>
      </div>
      <div class="col-12 col-md-6 portfolio portfolio-normal--img">
        <img src="../../assets/test.png">
      </div>
    </div>      
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>
