<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Join us, whoever you are!</h1>          
          </div>
          <p class="header-tagline">
            We welcome all sorts of curious minds. From developers, strategists to designers, creative thinkers and mascots of all backgrounds.             
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/59890.jpg">          
        </div>        
      </div>      
    </div>
  </div>
</section>


At sharktail we stand for freedom and flexibility. We embrace change will open arms. Without change there is no innovation.

Our headquarters is located in Kortrijk Belgium, but everyone at sharktail is free to live and work wherever they want. Many of us love the freedom to work remotely. 