<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Work With Us</h1>          
          </div>
          <p class="header-tagline">
            We are always interested to work with <span class="highlight-green">people who love what they do</span>!             
          </p>
          <p class="header-tagline">
            If you are a front-end developer, back-end developer, designer, strategist, devOps expert, business analyst or
            some other form of tech enthousiast and dreamer feel free to contact us. 
          </p>
          <p class="header-tagline">
            Hey, pssst... Are you a freelancer? Great! We have a high affection for freelancers from all backgrounds.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="background">
          <img class="image" src="../../assets/ahodosjobs.png">          
        </div>        
      </div>      
    </div>
  </div>
</section>

<section class="process-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5 process-header">
          <div class="process-header-title">
            <h2>Are we on the same page?</h2>
          </div>
          <div class="process-header-tagline">
            <p class="">
              In case you are wondering if we would be a good match.. We embrace change with open arms. Without change there is no innovation.
              Our headquarters is located in Kortrijk, Belgium, but everyone at Flock consulting is free to live and work wherever they want. 
              Many of us love the freedom to work remotely. Check out some of our values.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-7 process-steps">
          <div class="row justify-content-md-end">
            <div class="col-11 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                <h5>Our customers</h5>
              </div>
              <div class="process-step-body">
                <p>We care for our customers and keep them at the center of what we do.
                </p>
              </div>
            </div>
            <div class="col-11 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                  <h5>Challenge ourselfs</h5>
                </div>
                <div class="process-step-body">
                  <p>
                    We love challenges, welcome freedom and change. Embrace the difference we make in peoples lives.
                  </p>
                </div>
            </div>
            <div class="col-11 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                  <h5>Openminded</h5>
                </div>
                <div class="process-step-body">
                  <p>
                    We are creative, have opinions, share ideas and act proactive. 
                  </p>
                </div>
            </div>
            <div class="col-11 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                <h5>Team</h5>
              </div>
              <div class="process-step-body">
                <p>
                  It's all about the power of a team to create lasting relationships and help organisations thrive with technical innovation.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
