<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">
            <h1 class="head-title">Test your product's hypothesis in weeks, not months</h1>          
          </div>
          <p class="header-tagline">Our <span style="text-transform: uppercase">mvp</span> lab is <span class="highlight-dblue">the perfect way</span> for 
            aspiring entrepreneurs to evaluate their new visions and market assumptions.
            Your Minimum Viable Product gives you the opportunity to <span class="highlight-dblue">really measure the market's mind</span> and evaluate where opportunities lay.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="background">
          <img class="image" src="../../assets/59890.jpg">          
        </div>        
      </div>      
    </div>
  </div>
</section>
<!-- <section class="hero-container">
    <div class="container">
      <div class="row justify-content-center" style="position: relative;">
        <div class="col-12 col-md-10">
          <div class="hero-content text-center">
            <div class="title">
              <h1 class="head-title">Test your product's hypothesis in weeks, not months.</h1>          
            </div>
            <div class="head-img">
              <img class="image" src="../../assets/59890.jpg">              
            </div>          
          </div>        
        </div>  
        <div class="col-12 col-md-10 text-center tag-line">
          <p>Our <span style="text-transform: uppercase">mvp</span> lab is <span class="highlight-dblue">the perfect way</span> for 
            aspiring entrepreneurs to evaluate their new visions and market assumptions.
            Your Minimum Viable Product gives you the opportunity to <span class="highlight-dblue">really measure the market's mind</span> and evaluate where opportunities lay.</p>
        </div>    
      </div>
    </div>
  </section> -->
  <section class="benefits-section">
    <div class="container">
      <div class="row benefits-header">
        <div class="col-12">
          <div class="benefits-header-title">
            <h2>We take entrepreneurs from idea to digital innovation</h2>        
          </div>
        </div>
      </div>
      <div class="row benefits-tagline">
        <div class="col-10 benefits-tagline-body">
          <p class="">
            It starts with your business idea, your vision. Those Idea's tend to start small but have the potential to grow big. 
            That's why it is important to see MVP-lab as a process not a fixed assignment. Let us guide you in our LEAN process.
            Designed for fast and transparent results.
          </p>
        </div>
      </div>
      <div class="row justify-content-center benefits-items">
        <div class="col-lg-4 card_no_padding benefits-item">
          <div class="card">         
            <div class="card-img-top">
              <i class="fas fa-eye highlight-dblue"></i>
            </div>   
            <div class="card-title highlight-dblue"><h5>Focus on core problem</h5></div>
            <div class="card-body">            
              <p class="card-text">The <span style="text-transform: uppercase">lean</span> approach focusses on solving core problems with a minimal set of features.
              Our team makes sure those core features are user ready and measure their feedback.</p>            
            </div>            
          </div>
        </div>
        <div class="col-lg-4 card_no_padding">
          <div class="card">            
            <div class="card-img-top">
              <i class="fas fa-sync highlight-dblue"></i>
            </div>   
            <div class="card-title highlight-dblue"><h5>Iterative process</h5></div>
            <div class="card-body">                        
              <p class="card-text">The product owner is in full control of the process and the direction in which it goes. 
                Your appointed dedicated team lead takes frequent communication very seriously to discuss integrated features and next steps.
              </p>
            </div>            
          </div>
        </div>
        <div class="col-lg-4 card_no_padding">
          <div class="card">            
            <div class="card-img-top">
              <i class="fas fa-search-dollar highlight-dblue"></i>
            </div>
            <div class="card-title highlight-dblue"><h5>Cost efficient</h5></div>
            <div class="card-body">            
              <p class="card-text">
                Starting with the <span style="text-transform: uppercase">mvp</span> process let's you control and allocate your budget to where it truly matters.
                don't waste time and money on useless feature nobody really cares about.
              </p>            
            </div>            
          </div>
        </div>
      </div>            
    </div>
  </section>
  <section class="process-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5 process-header">
          <div class="process-header-title">
            <h2>Development Process</h2>
          </div>
          <div class="process-header-tagline">
            <p class="">
              All our MVP projects pass four phases. Aiming to meterialize your vision and efficiently build your desired software.
              After every iteration of the four steps, the feedback can be analysed and 
              the process will loop back and startover improving on the gathered information.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-7 process-steps">
          <div class="row justify-content-md-end">
            <div class="col-12 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                <h5>Discovery</h5>
              </div>
              <div class="process-step-body">
                <p>What is your vision? Our target is to understand your idea and what problem you are trying to solve.
                  Define the requirements and create a project scope.
                </p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                  <h5>Design</h5>
                </div>
                <div class="process-step-body">
                  <p>
                    A wireframe or prototype of the requirements will be designed to give you an initial view and estimation of the potential solution.
                    Communication will allow the project owner to iterate according to his vision.
                  </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                  <h5>Development</h5>
                </div>
                <div class="process-step-body">
                  <p>
                    Our team of talented coders will build the core features based on the discovery and design process.
                  </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 process-step">
              <div class="process-step-title">
                <h5>Delivery</h5>
              </div>
              <div class="process-step-body">
                <p>
                  The <span style="text-transform: uppercase;">mvp</span> will be delivered into the wild aimed at your target audience, 
                  ready to gather feedback and measure the marketmind.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-section">
      <contact></contact>
  </section>
