<section class="hero-container">
    <div class="container">
      <div class="row" style="position: relative;">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="hero-content">
            <div class="title">
              <h1 class="head-title">Cloud strategy consulting</h1>          
            </div>
            <p class="header-tagline">
                Growing your business with the right cloud infrastructure and strategy. 
                Ahodos helps your enterprise build secure, scalable and cost-effective cloud platforms.
            </p>
            <div class="header-cta text-center" style="">
              <a routerLink="/contact-us" class="btn btn-primary" style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16); mix-blend-mode: lighten;">Talk to us</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="background">
            <img class="image" src="../../assets/webdesign.png">          
          </div>        
        </div>            
      </div>
      <div class='icon-scroll'></div>
    </div>
  </section>
  <section class="outcome-section">
    <div class="container">
      <div class="row justify-content-center outcome-title">
        <div class="col-12 col-md-8">
          <div class="title text-center">
            <h2>Scalable enterprise cloud platforms</h2>
          </div>
          <p class="outcome-tagline">At Ahodos, we believe that success in today's digital marketplace is 
            dependant upon the agility and flexibility of a company to answer changes in it's target market demand.</p>
          <p class="outcome-tagline">
            To help our clients reach that requirement. We provide a service that migrates their application workload
            onto cloud platforms. Our value-driven approach to re-architect an modernise their applications and architecture is part of our migration policy.
          </p>
        </div>
      </div>      
    </div>
  </section>
<section class="outcome-section">
  <div class="container">
    <div class="row justify-content-center outcome-title">
      <div class="col-12 col-md-8">
        <div class="title text-center">
          <h2>Associated business outcomes</h2>
        </div>
          <!-- <p class="outcome-tagline">At Ahodos, we believe in a simple and organised approach. That's reflected in our web design process. 
              Our process makes sure that your website achieves his goals and launches in the most timely and cost-efficient way.</p> -->
        <p class="outcome-tagline">Accelerate time to market for new cloud technology</p>
        <p class="outcome-tagline">Cost optimization and move from CapEx to OpEx model</p>
        <p class="outcome-tagline">Reduce infrastructure overhead and bottlenecks</p>        
        
      </div>
    </div>    
  </div>
</section>