<section class="hero-container">
    <div class="container">
      <div class="row" style="position: relative;">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="hero-content">
            <div class="title">
              <h1 class="head-title">Cloud strategy consulting</h1>          
            </div>
            <p class="header-tagline">
                Growing your business with the right cloud infrastructure and strategy. 
                Ahodos helps your enterprise build a secure, scalable and cost-effective cloud environment. <!-- platforms-->
            </p>
            <div class="header-cta text-center" style="">
              <a routerLink="/contact-us" class="btn btn-primary" style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16); mix-blend-mode: lighten;">Talk to us</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="background">
            <img class="image" style="margin-top: 100px;" src="../../assets/cloudImage.png">          
          </div>        
        </div>            
      </div>
      <div class='icon-scroll'></div>
    </div>
  </section>
  <!-- <section class="outcome-section">
    <div class="container">
      <div class="row justify-content-center outcome-title">
        <div class="col-12 col-md-8">
          <div class="title text-center">
            <h2>Scalable enterprise cloud platforms</h2>
          </div>
          <p class="outcome-tagline mt-4">At Ahodos, we believe that success in today's digital marketplace is 
            dependant upon the agility and flexibility of a company to answer to changes in it's target market demand.
          </p>
          <h3 class="text-center">What our cloud experts can do for you</h3>
          <h6 class="mt-4">Strategy</h6>
          <p class="outcome-tagline">
            We translate your business requirements into desirable cloud environments. Keeping a well organised balance between new technology and time-tested best practices.
          </p>
          <h6 class="mt-4">Migration</h6>
          <p class="outcome-tagline">
            To help our clients reach that requirement. We provide a service that migrates their application workload
            onto a cloud environment. Our value-driven approach to re-architect an modernise their applications and architecture is part of our migration policy.
          </p>
          <h6 class="mt-4">Automation</h6>
          <p class="outcome-tagline">
            To help our clients maintain great scalability, agility and cost reduction we leverage Infrastructure as a service (IaaS) platforms. We design desired automated 
            workloads, task and processes to simplify common maintenance and deployment tasks. Where monitoring , alerting and incident/problem management keeps an eye on your systems.
            Once the automation is deployed, we support and manage patching and security update, performance and financial optimization.
          </p>
        </div>
      </div>      
    </div>
  </section> -->
  <section class="engagement-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="title text-center">
            <h2>Scalable enterprise cloud platforms</h2>
          </div>
          <p class="outcome-tagline mt-4">At Ahodos, we believe that success in today's digital marketplace is 
            dependant upon the agility and flexibility of a company to answer to changes in it's target market demand.
          </p>
          <p class="outcome-tagline">
            The digital revolution is not only extreme important to large enterprises, but harber a lot of potential for
            small and medium-sized businesses.
          </p>
        </div>
        <div class="col-12 col-lg-12 engagement-steps">
          <div class="row justify-content-md-end engagement-step">
            <div class="col-12 col-lg-4 engagement-step-header">
              <div class="engagement-step-title">
                <h4>Strategy</h4>
              </div>           
            </div>
            <div class="col-12 col-lg-8 engagement-step-body">
              <p>
                We translate your business requirements into desirable cloud environments. 
                Keeping a well organised balance between new technology and time-tested best practices.
              </p>
            </div>
          </div>
          <div class="row justify-content-md-end engagement-step">
            <div class="col-12 col-lg-4 engagement-step-header">
              <div class="engagement-step-title">
                <h4>Migration</h4>
              </div>
            </div>
            <div class="col-12 col-lg-8 engagement-step-body">
              <p>
                To help our clients reach that requirement. We provide a service that migrates their application workload
                onto a cloud environment. Our value-driven approach to re-architect and modernise their applications and architecture is part of our migration policy.
              </p>
            </div>
          </div>
          <div class="row justify-content-md-end engagement-step">
            <div class="col-12 col-lg-4 engagement-step-header">
              <div class="engagement-step-title">
                <h4>Automation</h4>
              </div>
            </div>
            <div class="col-12 col-lg-8 engagement-step-body">
              <p>
                To help our clients maintain great scalability, agility and cost reduction we leverage Infrastructure as a service (IaaS) platforms. We design desired automated 
            workloads and processes to simplify common maintenance and deployment tasks. Where monitoring , alerting and incident/problem management keeps an eye on your systems.
            Once the automation is deployed, we support and manage patching and security update, performance and financial optimization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="outcome-section">
  <div class="container">
    <div class="row justify-content-center outcome-title">
      <div class="col-12 col-md-8  text-justify">
        <div class="title text-center">
          <h2>Associated business outcomes</h2>
        </div>
      </div>
      <div class="col-12 col-md-6">
          <!-- <p class="outcome-tagline">At Ahodos, we believe in a simple and organised approach. That's reflected in our web design process. 
              Our process makes sure that your website achieves his goals and launches in the most timely and cost-efficient way.</p> -->
        <div>
          <i class="fas fa-cloud mr-5 d-inline ahodos-green"></i>
          <p class="outcome-tagline d-inline">Accelerate time to market for new cloud technology</p>
        </div>
        <div>
          <i class="fas fa-cloud mr-5 d-inline ahodos-green"></i>
          <p class="outcome-tagline d-inline">Cost optimization and move from CapEx to OpEx model</p>
        </div>
        <div>
          <i class="fas fa-cloud mr-5 d-inline ahodos-green"></i>
          <p class="outcome-tagline d-inline">Reduce infrastructure overhead and bottlenecks</p>
        </div>
        <div>
          <i class="fas fa-cloud mr-5 d-inline ahodos-green"></i>
          <p class="outcome-tagline d-inline">Scaling automatically with the size of your business</p>        
        </div>
      </div>
    </div>    
  </div>
</section>
<section class="contact-section">
    <contact></contact>
</section>