<section class="hero-container">
  <div class="container">
    <div class="row" style="position: relative;">      
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <div class="title">            
            <div class="header-logo">
              <img class="logo" src="../../assets/wandr.png">
            </div>
            <h1 class="head-title">Property management made simple</h1>          
          </div>
          <p class="header-tagline">Data-driven property management system.</p>
          <div class="header-tech">            
            <h6>Case properties</h6>
            Cloud-based 
            web-application 
            scalable 
            realtime communication
            secure user authentication
            third party integration
          </div>                    
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="header-image">
          <img class="image" src="../../assets/test.png">          
        </div>        
      </div>      
    </div>
  </div>
</section>

<section class="case-detail-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 case-detail-steps">
        <div class="row justify-content-md-end case-detail-step">
          <div class="col-12 col-lg-4 case-detail-step-header">
            <div class="case-detail-step-title">
              <h4>background</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 case-detail-step-body">
            <p>
              Wandr is a software as a service company, offering a data-driven managment service for real estate investers and real estate managers.
              Their goal is to scale fast and that needs to be reflected in the software provided for their challenge.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end case-detail-step">
          <div class="col-12 col-lg-4 case-detail-step-header">
            <div class="case-detail-step-title">
              <h4>challenge</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 case-detail-step-body">
            <p>
              Wandr wanted a cloud platform where it was possible for managers to create a personal profile 
              and manage their day to day real estate business. From tenant screening, tenant management to automatic invoicing and 
              issue reporting & handling. Wandr wanted to tackle the pile of paperwork, end time exhausting communication and automate
              the properties issue management.   
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end case-detail-step">
          <div class="col-12 col-lg-4 case-detail-step-header">
            <div class="case-detail-step-title">
              <h4>solution</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 case-detail-step-body">
            <p>
              For this to work the project owner wanted a intuitive software for users of all technological backgrounds. 
              A lot of real estate managers were still not used to work with a cloud application. "Our clients are very busy people, from different backgrounds. 
              We don't want them to spend to much time to learn an application where the first priority is to speed up the timeload" Says project owner Tom.

              Hyperion built a working system that integrated a noSql database with realtime capabilities. So it is possible to realtime sync
               every connected client to share their data and stay up to date. The solution was provided through a cloud service so scaling was as effortlessly as pushing a button.
               This was in line with the companies market projections and desire to be flexible. 
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end case-detail-step">
          <div class="col-12 col-lg-4 case-detail-step-header">
            <div class="case-detail-step-title">
              <h4>outcome</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 case-detail-step-body">
            <p>
              Previously, Wandr clients managed their portfolio the old fashioned way. An integrated system allowed them to see all the data a few clicks away.
              Creating instant information reports. Now they are ablue to act fast and accordingly. Clients are boasting about the greater visibility of and control over their assets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
    <contact></contact>
</section>