/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.highlight-green{
    color: #7ee8d4;
}

.highlight-blue{
    color: #c7dbfb;
}

.highlight-dblue{
    color: #4285f4;
}

.ahodos-green{
    color: #52e2ab;
}

.ahodos-green-bg{
    background-color: #52e2ab;
}